<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Lekhak</title>
</head>
<header>
  <nav class="">
    <a class="" href="#">Lekhak.com</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createPost"><i class="far fa-clone"></i>Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewPost"><i class="far fa-calendar-alt"></i>Posts</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
<main class="container">